.btn-session-timeout {
    color: #fff;
    background-color: #e30e73;
    border-color: #e30e73;
}

.btn-session-timeout:hover {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

#content-wrapper {
    background: #F3F3F3;
}

.btn-logout, .btn-export, .btn-save-report, .btn-save-search, .btn-reset-table {
    color: #fff;
    background-color: #e30e73;
    border-color: #e30e73;
}

.btn-logout:hover, .btn-export:hover, .btn-save-report:hover, .btn-save-search:hover, .btn-reset-table:hover {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-logout:focus, .btn-logout.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-logout.disabled, .btn-logout:disabled {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-logout:not(:disabled):not(.disabled):active, .btn-logout:not(:disabled):not(.disabled).active,
.show > .btn-logout.dropdown-toggle {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-logout:not(:disabled):not(.disabled):active:focus, .btn-logout:not(:disabled):not(.disabled).active:focus,
.show > .btn-logout.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

#welcome-user {
    color: #fff;
}

.btn-user-profile {
    color: #fff;
    background-color: #e30e73;
    border-color: #e30e73;
}

.btn-user-profile:hover {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-user-profile:focus, .btn-user-profile.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.btn-user-profile.disabled, .btn-user-profile:disabled {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-user-profile:not(:disabled):not(.disabled):active, .btn-user-profile:not(:disabled):not(.disabled).active,
.show > .btn-user-profile.dropdown-toggle {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.btn-user-profile:not(:disabled):not(.disabled):active:focus, .btn-user-profile:not(:disabled):not(.disabled).active:focus,
.show > .btn-user-profile.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

.dropdown-item:not(:disabled):not(.disabled):active, .dropdown-item:not(:disabled):not(.disabled).active,
.show > .dropdown-item.dropdown-toggle {
    color: #fff;
    background-color: #b81866;
    border-color: #b81866;
}

.dropdown-item:not(:disabled):not(.disabled):active:focus, .dropdown-item:not(:disabled):not(.disabled).active:focus,
.show > .dropdown-item.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
}

#report-builder-stewardship, #report-builder-bestaddress {
    display: none;
}

/* Loading Spinner */
.loader,
.loader:before,
.loader:after {
    background: #e30e73;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #e30e73;
    text-indent: -9999em;
    /*margin: 88px auto;*/
    /*position: relative;*/
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    /*z-index: 1;*/
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {
    0%, 80%, 100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

.loader {
    display: none;
}

.btn-export, #file-name {
    display: none;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    /*background-color: #F5F5F5;*/
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 6px !important;
    /*background-color: #F5F5F5;*/
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    /*background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);*/
    /*background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);*/
    /*background-image: -webkit-linear-gradient(330deg, #f1f0f0 0%, #f1f0f0 100%);
    background-image: linear-gradient(120deg, #f1f0f0 0%, #f1f0f0 100%);*/
    background-image: -webkit-linear-gradient(330deg, #d8d5d5 0%, #d8d5d5 100%);
    background-image: linear-gradient(120deg, #d8d5d5 0%, #d8d5d5 100%);
}

#report-builder-bestaddress, #report-builder-stewardship {
    margin-bottom: 5px;
}

.card {
    box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    border: solid 1px #dde4eb;
    border-radius: 5px;
}

.text-pra {
    color: #e30e73;
    font-size: 16px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #e30e73;
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e30e73;
    border-color: #e30e73;
}

.page-link {
    color: #000000;
}

.page-link:hover {
    color: #7b7070;
}

.report-csv {
    display: none;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #495057;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 7px;
}

.btn-save-report, #upload-report, .saved-search-div, .btn-save-search, .btn-reset-table {
    display: none;
}

.dataTables_filter {
    display: none;
}

.dataTables_length {
    margin-bottom: 10px;
}

i.fa-plus-square {
    margin-top: -5px;
}

.btn-toolbar {
    float: right;
}

.btns {
    float: left;
}

i.fa-trash {
    color: #d20d0d;
}

.fa-bookmark, .far.fa-bookmark {
    color: #e30e73;
}

.wdr-credits {
    display: none;
}